html {
  box-sizing: border-box;
  font-size: 10px;
}

*, 
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Base Styles */

body {
  /* background: linear-gradient(rgba(94, 65, 11, 0.4), rgba(94, 65, 11, 0.4)), url('../images/mountain-lake-vertical.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat; */
  min-height: 100vh;
}

a.btn {
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  background-color: #3f51b5;
  opacity: 1; 
}

a:hover {
  opacity: 1;
}

/* Navigator Styles */

header {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s linear;
  font-size: 2rem;
  padding: 2rem 4rem;
  z-index: 1;
}

.site-brand {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  text-decoration: none;
}

.navivator {
  list-style: none;
}

.navigator ul {
  display: flex;
  list-style: none;
}

.navigator ul li {
  margin-left: 2rem;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.8;
  color: #fff;
}

/* Section */

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 8rem;
}

/* Hero Section */

.hero {
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-color: #313131;
}

.hero-content-container {
  color: #fff;
  opacity: 0;
  margin-top: 10rem;
  animation: 1s slideFade 1s forwards;
}

.hero h1 {
  font: 700 6rem 'Open Sans', sans-serif;
  margin-bottom: 1.5rem;
}

.hero h3 {
  font: 400 2.8rem 'Open Sans', sans-serif;
  margin-bottom: 4rem;
}

.hero a.btn {
  padding: 1.4rem 3rem;
  color: #fff;
  text-decoration: none;
  font: 400 2rem 'Open Sans', sans-serif;
}

@keyframes slideFade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}